<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>
    <meta name="description" content="Use our simple API to convert street addresses into latitude/longitude or coordinates to street addresses. Add Congressional districts, census data, timezones, and more."/>
    <meta property="og:description" content="Use our simple API to convert street addresses into latitude/longitude or coordinates to street addresses. Add Congressional districts, census data, timezones, and more."/>
    <meta property="og:image" content="https://www.geocod.io/img/social-share.png" />
    <meta property="og:url" content="https://www.geocod.io" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= current_page.data.title || "API Documentation" %>" />
    <meta property="og:title" content="<%= current_page.data.title || "API Documentation" %>" />

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Mono" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
      <a href="/"><svg width="41.953" height="48.952" viewBox="0 0 41.953 48.952" xmlns="http://www.w3.org/2000/svg"><title>background</title><path fill="none" d="M-1-1h43.953v50.952H-1z"/><g><title>Layer 1</title><path fill="#e62b28" fill-rule="evenodd" d="M13.865 41.51c.292-.158 8.843-8.798 9.522-9.474l3.18-3.22-5.332-5.292-7.37 7.343c-.344-.22-1.257-1.187-1.533-1.504-1.557-1.792-2.603-3.687-2.967-6.29-1.39-9.904 9.62-16.942 18.21-11.017.822.567 1.74 1.448 2.354 2.27 3.403 4.555 3.27 10.462-.37 14.758-.487.575-1.032 1.055-1.55 1.572-4.11 4.108-8.262 8.227-12.34 12.364l5.32 5.3c.48-.37 13.81-13.76 14.407-14.46 8.66-10.137 4.312-26.417-8.688-30.567-6.223-1.985-12.35-.64-17.113 2.702-.708.497-2.042 1.646-2.582 2.23-2.082 2.243-3.522 4.652-4.464 7.662-1.722 5.494-.6 11.445 2.01 15.618.833 1.327 1.152 1.635 2.06 2.756l2.4 2.412c1.304 1.304 3.63 3.732 4.845 4.837"/></g></svg></a>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:content].to_s.parameterize %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:content].to_s.parameterize %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <script>
      window.intercomSettings = {
        app_id: "ysy2pdx8"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
</html>
